<a href="https://colab.research.google.com/github/robertapassarelli/QME_projectwork/blob/master/project_qme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Group H 
# Project work - QME

In [0]:
import pandas as pd 
import numpy as np
import io 
from google.colab import files # to save and read the csv file

In [61]:
uploaded = files.upload()
data = pd.read_csv(io.BytesIO(uploaded['eter_data.csv']), sep=";", header = 0, encoding='latin-1')
data_clean = pd.read_csv(io.BytesIO(uploaded['clean_data.csv']), sep=",", header = 0, encoding='latin-1')
# Dataset is now stored in a Pandas Dataframe

Saving eter_data.csv to eter_data.csv
Saving clean_data.csv to clean_data.csv

In [62]:
data.head()

  ETER ID Year ETER ID  ... R&D Expenditure (EURO) PhD intensity
0  FI0001.2016  FI0001  ...              335715100  0,1013006045
1  FI0002.2016  FI0002  ...              121880500   0,054446461
2  FI0003.2016  FI0003  ...               41158600  0,0631938514
3  FI0004.2016  FI0004  ...              119658200  0,0732155997
4  FI0005.2016  FI0005  ...               84259500  0,0693069307

[5 rows x 20 columns]

In [63]:
data_clean.head()

   Unnamed: 0 ETER ID Year  ... R&D Expenditure (EURO) PhD intensity
0           0  FI0001.2016  ...              335715100  0,1013006045
1           1  FI0002.2016  ...              121880500   0,054446461
2           2  FI0003.2016  ...               41158600  0,0631938514
3           3  FI0004.2016  ...              119658200  0,0732155997
4           4  FI0005.2016  ...               84259500  0,0693069307

[5 rows x 21 columns]

In [64]:
variables = data.columns # variables choosen from ETER 
variables

Index(['ETER ID Year', 'ETER ID', 'National identifier', 'Institution Name',
       'Country Code', 'Region of establishment (NUTS 2)',
       'Total Current expenditure (EURO)',
       'Basic government allocation (EURO)', 'Student fees funding (EURO)',
       'Total Current revenues (EURO)', 'Research active institution',
       'Students enrolled at ISCED 8 - men',
       'Students enrolled at ISCED 8 - women',
       'Students enrolled ISCED 8 - gender unclassified',
       'Total students enrolled at ISCED 8', 'Graduates at ISCED 8 - men',
       'Graduates at ISCED 8 - women', 'Total graduates at ISCED 8',
       'R&D Expenditure (EURO)', 'PhD intensity'],
      dtype='object')

In [0]:
data_clean.isna().values.any() # To check the presence of null values
data_clean0 = data_clean.fillna(0)

In [69]:
data_clean0.isna().values.any()

False

In [68]:
set(data_clean0["Country Code"]) # These are the contries considered 
# Finland, Norway, Sweden, Italy

{'FI', 'IT', 'NO', 'SE'}

In [0]:
#